@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --back-colorRed:linear-gradient(to bottom,
  hsla(0, 100%, 50%, 0.14) 0%,
  hsla(0, 100%, 50%, 0.182) 12.6%,
  hsla(0, 100%, 50%, 0.232) 22.5%,
  hsla(0, 100%, 50%, 0.288) 30.3%,
  hsla(0, 100%, 50%, 0.349) 36.2%,
  hsla(0, 100%, 50%, 0.415) 40.8%,
  hsla(0, 100%, 50%, 0.482) 44.4%,
  hsla(0, 100%, 50%, 0.551) 47.4%,
  hsla(0, 100%, 50%, 0.621) 50.3%,
  hsla(0, 100%, 50%, 0.689) 53.4%,
  hsla(0, 100%, 50%, 0.754) 57.2%,
  hsla(0, 100%, 50%, 0.816) 62%,
  hsla(0, 100%, 50%, 0.873) 68.3%,
  hsla(0, 100%, 50%, 0.923) 76.4%,
  hsla(0, 100%, 50%, 0.966) 86.9%,
  hwb(0 0% 0%) 100%);
  --back-colorGreen:linear-gradient(to bottom,
  hsla(123.06, 100%, 50%, 0.14) 0%,
  hsla(122.99, 100%, 50%, 0.182) 12.6%,
  hsla(122.91, 100%, 50%, 0.232) 22.5%,
  hsla(122.81, 100%, 50%, 0.288) 30.3%,
  hsla(122.7, 100%, 50%, 0.349) 36.2%,
  hsla(122.58, 100%, 50%, 0.415) 40.8%,
  hsla(122.45, 100%, 50%, 0.482) 44.4%,
  hsla(122.3, 100%, 50%, 0.551) 47.4%,
  hsla(122.15, 100%, 50%, 0.621) 50.3%,
  hsla(121.99, 100%, 50%, 0.689) 53.4%,
  hsla(121.82, 100%, 50%, 0.754) 57.2%,
  hsla(121.64, 100%, 50%, 0.816) 62%,
  hsla(121.46, 100%, 50%, 0.873) 68.3%,
  hsla(121.28, 100%, 50%, 0.923) 76.4%,
  hsla(121.11, 100%, 50%, 0.966) 86.9%,
  hsl(120.94, 100%, 50%) 100%);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 162, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

li{
  list-style: none;
  display: block;
  margin-left: -40px;
  margin-top: 10px;
  
}

.h1{
  font-size: 3em;
  font-weight: normal;

}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.relogio{
  font-size: 3em;
}


.iniciar, .pausar, .zerar, .apagar{
  background: #fff;
  border-radius: 15px;
  padding: 5px;
  font-size: .9em;
  color: black;
  font-weight: bold;
}


button:hover{
  background: rgb(204, 199, 199);
  
}

.pausado{
  color: rgb(255, 0, 0);
}

.iniciado{
  color: rgb(0, 255, 4);
}

.rodando{
  background: var(--back-colorGreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parado{
  background: var(--back-colorRed);
  background-repeat: no-repeat;
  background-attachment: fixed;
}